@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* Reset Box Model */
  margin: 0;
  padding: 0;

  /* Layout global */
  min-height: 100vh; /* Garante que o body preencha a tela */
  display: flex;
  flex-direction: column; /* Coloca o header, main e footer em coluna */
  justify-content: space-between; /* Garante que o footer fique no fim */
  
  /* Fundo */
  background: url('https://cdn.pixabay.com/photo/2016/06/02/02/33/triangles-1430105_1280.png');
  background-size: auto; /* Repetição natural do fundo */
  background-position: center;
  background-repeat: repeat;
}

main {
  flex: 1; /* Garante que o conteúdo principal expanda para preencher o espaço entre header e footer */
  padding: 20px;
  max-width: 1200px; /* Limita a largura do conteúdo */
  margin: 0 auto; /* Centraliza o main horizontalmente */
  width: 100%;
}


